@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #0b131e;
    --card: #202b3b;
    --text: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    /* background-color: var(--background); */
    background: linear-gradient(to bottom, #56ccf2, #2f80ed);
}

.container {
    width: 90%;
    max-width: 450px;
}

.search-box,
.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 1rem;
}

.result-box {
    flex-direction: column;
    gap: 0;
    margin-top: 2rem;
    padding: 2rem 1rem;
}

#searchText,
#searchButton {
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
}

#searchText {
    width: 70%;
    border: none;
}

#searchButton {
    width: 30%;
    border: none;
    cursor: pointer;
}

/* result box */
.location-box {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.icon-box {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
}

.icon-box img {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.temperature-box {
    text-align: center;
    margin-bottom: 1rem;
}

.temperature-box .actual-temperature {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 5rem;
    margin-left: 0.8rem;
}

.weather-box {
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.detail-box {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.bar {
    height: 50px;
    width: 1px;
    background-color: white;
}

.label {
    font-size: 0.6rem;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 0.8rem;
}
footer a{
    color: whitesmoke;
}
